VITE_CONVEX_URL=https://<your-prod-deployment>.convex.cloud
S3_ENDPOINT=https://s3.amazonaws.com
S3_BUCKET=<bucket-name>
S3_ACCESS_KEY_ID=<key>
S3_SECRET_ACCESS_KEY=<secret>
S3_REGION=<region>
S3_FORCE_PATH_STYLE=false
APP_ENV=production
